<div class="game">
  <div class="game-header">
    <span>Score: {{this.score}}</span> <span>Lives: {{this.lives}} </span>
  </div>
  <canvas width={{this.width}} height={{this.height}} {{did-insert this.initGame}} />
  <div>
    <button type="button" role="button" class="game-button" {{on "click" this.playGame passive=true}}>
      New Game</button>
  </div>
</div>
